*{margin: 0; font-family: "Josefin Sans", "Helvetica", Arial, sans-serif; line-height: 1.5;}
html{scroll-behavior: smooth; font-size: 14px;}
body{background: url('../img/gplaypattern.png'); background-attachment: fixed; background-repeat: repeat;}

.box{margin: 0vh auto; display: flex; justify-content: center; align-content: center; flex-wrap: wrap; flex-direction: column; padding: 6vh 3vw; border: 1px solid #039; max-width: 60vw; box-shadow: 0px 0px 3px #039; border-radius: 10px; background: #fff;}


.navbar{width: 100%; display: flex; justify-content: center; position: fixed; top: 0; background-color: #333; z-index: 10; font-size: 1.2rem;}
.navbar a{padding: 15px 25px; background-color: #333; color: #fff; text-decoration: none; transition: 0.25s ease-out;}
.navbar a:hover{background-color: #ddd; color: black;}

header{margin: 10vh 0 0; display: flex; justify-content: center; text-align: center;}
header .hero_heading{font-size: 4.2rem; margin-top: 20vh; color:#039; }
header .hero_sub_heding{font-size: 2.2rem; opacity: 0.5; letter-spacing: 3px;}

#about_me, #skills, #portfolio, #contact{padding-top: 10vh;}
.about_me_box{margin-top:0; }
.about_me_box_img{text-align: center; margin: 2.6vh auto;}
.about_me_box_img img{max-width: 250px; width: 100%; border-radius: 100%; box-shadow: 0px 3px 10px #039;  margin: 3vh auto;}
.about_me_hobby_box{max-width: 50vw; width: 100%;}

.about_me_hobby_box{display: flex; justify-content: space-around; margin: 3vh auto}
.about_me_hobby{font-size: 2.6rem; text-align: center; color: #039}
.about_me_hobby p, .skill_box p{font-size: 1.2rem; text-transform: uppercase; font-weight: bold;}
.about_me_text_box{text-align: justify;}
.about_me_text_box p{font-size: 1.5rem;}
.about_me_text_box span{font-size: 2.2rem;}
.about_me_box > p, .skills_box > p, .portfolio_box_img p, .contact_box p {font-size: 2.2rem; text-align: center; margin-bottom: 5vh;}


.skills_box{display: flex; justify-content: space-around; margin: 3vh auto}
.skill_box{font-size: 3.6rem; color: #039; flex-direction: row; display: flex; justify-content: space-around; width: 90%; text-align: center; margin: 2vh auto;}
.skill_box p{width: 120px; }


.portfolio_box_img img{max-width: 25vw; width: 100%;}
.portfolio_box {flex-direction: row; justify-content: space-around;}
.portfolio_box a{text-decoration: none;}
.portfolio_box p:first-child {display: block; font-size: 3rem; width: 90%; text-align: center; margin-bottom: 3vh;}

.contact_box {flex-direction: row; justify-content: space-evenly; margin-bottom: 3vh;}
.contact_box p{margin: 0;}
.contact_box a{text-decoration: none;color:#039; }

/* **************************** SCROLL DOWN ************************* */

.chevron-box{width: 90px; display: flex; justify-content: center; align-self: center; margin: 15vh auto 0;}
.chevron {position: absolute; width: 28px; height: 8px; opacity: 0; transform: scale3d(0.5, 0.5, 0.5); animation: move 3s ease-out infinite;}
.chevron:first-child {animation: move 3s ease-out 1s infinite;}
.chevron:nth-child(2) {animation: move 3s ease-out 2s infinite;}
.chevron:before,
.chevron:after {content: ' '; position: absolute; top: 0; height: 100%; width: 51%; background: #039;}
.chevron:before {left: 0; transform: skew(0deg, 30deg);}
.chevron:after {right: 0; width: 50%; transform: skew(0deg, -30deg);}
 
 @keyframes move {
   25% {opacity: 1;}
   33% {opacity: 1; transform: translateY(30px);}
   67% {opacity: 1; transform: translateY(40px);}
   100% {opacity: 0; transform: translateY(55px) scale3d(0.5, 0.5, 0.5);}
 }
 
 .chevron-text {display: block; margin-top: 75px; font-size: 1rem; color: #039; font-weight: bold; text-transform: uppercase; white-space: nowrap; opacity: .25; animation: pulse 2s linear alternate infinite; transition: 1s ease-out;}
 
 @keyframes pulse {
   to {opacity: 1;}
 }


 @media (max-width: 750px) {
  .box{max-width: 85vw;}
  .about_me_hobby_box{max-width: 85vw;}
  .skills_box{margin: 0 auto;}
  .portfolio_box_img img{max-width: 35vw;}
}
@media (max-width: 400px) {
  html{font-size: 10px;}
}